<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Error - pokemon no found</title>
  <style>
    body {
      font-family: 'Arial', sans-serif;
      background-color: #f2f2f2;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .error-container {
      text-align: center;
      background-color: #fff;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h1 {
      color: #e53935; /* Color rojo para el mensaje de error */
    }

    a {
      display: inline-block;
      margin-top: 10px;
      padding: 10px 20px;
      background-color: #4caf50; /* Color verde para el enlace */
      color: #fff;
      text-decoration: none;
      border-radius: 5px;
      transition: background-color 0.3s ease;
    }

    a:hover {
      background-color: #45a049;
    }
  </style>
</head>
<body>
<div class="error-container">
  <h1>404<br>Error {{message}}</h1>
  <a href="/pokemon/pikachu">Regresar y ver pickachu</a>
</div>
</body>
</html>
