<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Pokemon</title>
  <title>Pokédex</title>
  <style>
    body {
      font-family: 'Arial', sans-serif;
      background-color: #f2f2f2;
      margin: 0;
      padding: 20px;
      box-sizing: border-box;
    }

    .container {
      max-width: 600px;
      margin: 0 auto;
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      margin-bottom: 20px;
    }

    h1 {
      text-align: center;
      color: #333;
    }

    form {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 15px;
    }

    label {
      margin-right: 10px;
    }

    input,
    select,
    button {
      padding: 10px;
      font-size: 14px;
      border: 1px solid #ccc;
      border-radius: 4px;
      flex: 1;
    }

    button {
      background-color: #4caf50;
      color: #fff;
      cursor: pointer;
    }

    button:hover {
      background-color: #45a049;
    }

    .pokemon-info {
      text-align: center;
    }

    .pokemon-info img {
      max-width: 100%;
      border-radius: 8px;
      margin-top: 10px;
    }
    .tipo{
      padding: .25rem .5rem;
      border-radius: 100vmax;
      background: red;
      color: #ffffff;
      text-transform: uppercase;
    }
  </style>
</head>
<body>

<div class="container">
  <h1>Buscar Pokemón</h1>
  <form id="pokemonForm" action="/pokemon" method="post">
    <input type="text" id="pokemonInput" name="name" placeholder="Ingrese el nombre del Pokémon">
    <button type="submit">Buscar</button>
  </form>
  <div class="pokemon-info" id="pokemonInfo">
    <p><b>Pokemon:</b> <b style="text-transform: uppercase;font-size: 20px">{{pokemon.name}}</b></p>
    <img src="{{pokemon.sprites.front_default}}" alt="{{pokemon.name}}">
    <p><b>Altura:</b> {{pokemon.height}} cm.</p>
    <p><b>Peso:</b> {{pokemon.weight}} kg.</p>
    <p>
      <b>Tipo:</b> <b class="tipo"> {{#each pokemon.types}}{{this.type.name}}{{#unless @last}},{{/unless}}{{/each}}</b>
    </p>
  </div>
</div>
<br>
<div class="container">
  <h1>Seleccionar Pokemón por tipo</h1>
  <form id="pokemonForm" action="/type" method="post">
    <label for="typeSelect">Tipo:</label>
    <select id="typeSelect" name="name">
      <option value="1">Normal</option>
      <option value="2">Lucha</option>
      <option value="3">Volador</option>
      <option value="4">Veneno</option>
      <option value="5">Tierra</option>
      <option value="6">Roca</option>
      <option value="7">Bicho</option>
      <option value="8">Fantasma</option>
      <option value="9">Acero</option>
      <option value="10">Fuego</option>
      <option value="11">Agua</option>
      <option value="12">Planta</option>
      <option value="13">Electrico</option>
      <option value="14">Psiquico</option>
      <option value="15">Hielo</option>
      <option value="16">Dragón</option>
      <option value="17">Siniestro</option>
      <option value="18">Hada</option>
    </select>
    <button type="submit">Buscar</button>
  </form>
</div>

</body>
</html>
