<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Tipos de Poquemons</title>
  <style>
    body {
      font-family: 'Arial', sans-serif;
      background-color: #f2f2f2;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .content {
      text-align: center;
    }

    .card-container {
      display: flex;
      flex-wrap: wrap;
      /*justify-content: center; !* Modificado para centrar las tarjetas horizontalmente *!*/
      margin-top: 20px;
    }

    .card {
      width: 150px;
      margin: 10px;
      padding: 10px;
      text-align: center;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    img {
      max-width: 100%;
      height: auto;
      border-radius: 5px;
    }
  </style>
</head>
<body>

<div class="content">
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <br><br><br><br><br> <br><br> <br><br><br><br><br><br> <br><br> <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

  <h1>Pokémon por Tipo - {{name}}</h1>
  <div class="card-container">
    {{#each pokemonList}}
      <div class="card">
        <p>#{{@index}}</p>
        <p><a href="/pokemon/{{name}}" style="color:#000000;"><b style="text-transform: uppercase">{{name}}</b></a></p>
        <img src="{{sprites.front_default}}" alt="{{name}}">
      </div>
    {{/each}}
  </div>
</div>
</body>
</html>
